.fill-window{
    z-index:0;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  .view-wrapper{
    z-index:1;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 450px;
    margin:20px;
  }